/* Error.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.error-container {
  text-align: center;
}

.error-code {
  font-size: 5rem;
  color: #dc3545;
}

.error-message {
  font-size: 1.5rem;
  color: #6c757d;
}
